.container {
  background-color: #e3f2fd;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button {
  padding: 10px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
}